ul#map{
    width: 570px; 
    height: 585px;
    background-image: url('../assets/img/map.gif');
    background-color: cover;
    list-style: none;
    position: relative;
    margin: 0 auto;
    padding: 0;
}

