li#cms { margin-top: 336px; margin-left: 229px; }
li#cgo { margin-top: 264px; margin-left: 301px; z-index: 9999; }
li#cdf { margin-top: 311px; margin-left: 373px; z-index: 9999; }
li#cmt { margin-top: 189px; margin-left: 180px; }

a#ms { width: 106px; height: 104px; }
a#go { width: 108px; height: 108px; }
a#df { width: 16px; height: 9px; }
a#mt { width: 166px; height: 161px; }
