li#cba { margin-top: 207px; margin-left: 397px; }
li#cma { margin-top: 94px; margin-left: 366px; z-index: 9999; }

li#cse { margin-top: 221px; margin-left: 519px; z-index: 9998; }
li#cal { margin-top: 211px; margin-left: 518px; z-index: 9999; }
li#cpe { margin-top: 188px; margin-left: 473px; }
li#cpb { margin-top: 169px; margin-left: 511px; z-index: 9999; }
li#crn { margin-top: 151px; margin-left: 514px; }
li#cce { margin-top: 121px; margin-left: 473px; }
li#cpi { margin-top: 120px; margin-left: 406px; z-index: 9997; }

a#ba { width: 136px; height: 148px; }
a#ma { width: 102px; height: 139px; }
a#se { width: 28px; height: 32px; }
a#al { width: 46px; height: 27px; }
a#pe { width: 97px; height: 34px; }
a#pb { width: 59px; height: 35px; }
a#rn { width: 53px; height: 33px; }
a#ce { width: 61px; height: 76px; }
a#pi { width: 83px; height: 124px; }
