li#csp { margin-top: 375px; margin-left: 303px; z-index: 9999; }
li#crj { margin-top: 390px; margin-left: 422px; z-index: 9999; }
li#ces { margin-top: 347px; margin-left: 467px; z-index: 9999; }
li#cmg { margin-top: 292px; margin-left: 333px; z-index: 9998; }

a#sp { width: 131px; height: 84px; }
a#rj { width: 58px; height: 40px; }
a#es { width: 33px; height: 51px; }
a#mg { width: 163px; height: 131px; }
