li#crs { margin-top: 485px; margin-left: 237px; }
li#csc { margin-top: 467px; margin-left: 292px; }
li#cpr { margin-top: 416px; margin-left: 281px; }

a#rs { width: 116px; height: 101px; }
a#sc { width: 81px; height: 53px; }
a#pr { width: 97px; height: 64px; }
